/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


.logo img {
    width: 50px;
    position: relative; /* relative to the parent element */
    float: left; /* align to the left */
    right: -50px; /* move 10 pixels to the right */
}
.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #6b6969;
  padding-right: 15px;
  padding-left: 15px;
}
.navdiv {
  /* Add a background color and some padding to the navbar */
  padding: 10px;
}

.navdiv ul {
  /* Remove the bullets and the default margin and padding from the list */
  position: relative;
  float: right;
  right: -500px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family:monospace;
  font-size: 15px;
}

.navdiv li {
  /* Make the list items appear inline */
  display: inline;
  /* Add some margin to the right of each item */
  margin-right: 20px;
}

.navdiv a {
  /* Add some color and style to the links */
  color: white;
  text-decoration: none;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.navdiv button {
  /* Add some style to the buttons */
  background-color: #474fa0;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  color: white;
  padding: 7px 7px;
  cursor: pointer;
  border-radius: 5%;
  font-family: monospace;
  font-size: 13px;
}

.navdiv button:hover {
  /* Add some hover effect to the buttons */
  background-color: #fe5b3d;
}

#feature{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #ffffff;
    background-color: #000000;

}
#feature .fe-box:nth-child(2) h6{
    background-color: #000000;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #000000;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #000000;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #000000;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #000000;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #000000;
}
